body{
	background-color: #f1f6f3;
	font: 100%/1.4 Halvatica;
	color: #444;
	font-size: 1rem;

}
.container {
	font-family: Halvatica;
	background-color: white;
	padding: 0 1.76991%;
	min-height: 100vh;
	width: 1000px;
	border-shadow:1px 1px 1px rgba(0, 0, 0, 0.9);

}
header {
	padding: 20px 10px;
}
header img{
	height:100px;
}
h2 {
	padding-top: 20px;
	margin-bottom: .5em;
	font-size: 1.8em;
	font-weight: bold;
	display: block;
	text-transform: uppercase;

}
.form-section {
	display: block;
}
.register-table {
	float: left;
	width: 60%;
	clear: both;
	padding: 0 0 1em;
	margin-right: 1.5em;
	border-bottom: 1px solid #ddd;
	margin-bottom: 1em;
}
.add-product-table {

	width: 80%;
	clear: both;
	padding: 0 0 1em;
	margin-right: 1.5em;
	border-bottom: 1px solid #ddd;
	margin-bottom: 1em;
}
.add-product-table td{
	display: block;
}
.message-box {
	float: right;
	width: 30%;
	display: block;
	min-width: 15em;
	color: #777;
	padding: .2em .8em;
	background: #cfe0d8;
}
.message-box h4 {
	font-size: 1.3rem;
	font-weight: bold;
}
p {
	padding: 0;
	margin: 0;
}
table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: grey;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
td {
	width: 50%;
	padding: .25em 0;
	display: table-cell;
	vertical-align: inherit;
}
label {
	vertical-align: middle;
}
.register-table input, select {
	width: 100%;
	max-width: 25em;
	font-size: 1em;
	line-height: 1.6;
	padding: .1em .2em;
	border: 1px solid #ccc;
	background: #fdfcfc;
	margin: .1em 0;
	color: #444;
	background-clip: padding-box;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	cursor: text;

}
.add-product-table input, select  {
	width: 100%;
	max-width: 25em;
	font-size: 1em;
	line-height: 1.6;
	padding: .1em .2em;
	border: 1px solid #ccc;
	background: #fdfcfc;
	margin: .1em 0;
	color: #444;
	background-clip: padding-box;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	cursor: text;
}
.add-product-table select {
	height: 110%;
}
.add-product-table textarea {

}
.delivery-details  input {
	width: 100%;
	max-width: 25em;
	font-size: 1em;
	line-height: 1.6;
	padding: .1em .2em;
	border: 1px solid #ccc;
	background: #fdfcfc;
}

.delivery-details {
	padding-top: 0;
	width: 60%;
}
.emaile-pref {
	margin-top: 10px;
}
input[type="radio"] {
	margin-right: 10px;
}
.logOut a:hover {
	text-decoration: none;
	color: #888888;
}
.back-to-shop a {
	color: #4c7762;
	font-size: 1.1rem;
}
.back-to-shop {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px ;
}

.emaile-pref a:hover {
	text-decoration: none;
	color: #888888;
}
.emaile-pref a {
	color: #4c7762;
}
.register-button {
	margin:15px;
}
em {
	color: red;
}
.button{
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	margin-bottom: 50px;

	font-family: inherit;
	padding: .5em 1em;
	background: #2D473A;
	color: #fff;
	border: 2px solid #2D473A;
	letter-spacing: 1.3px;
	border-radius: 0;
	text-transform:uppercase;
}
.button:hover {
	border: 2px solid #2D473A;
	color: #2D473A;
	background-color: #fff;
}


.header-nav {
	margin: 30px 0px;

	display: flex;
	justify-content: space-between;
	height: 45px;
	align-items: center;

	list-style-type: none;
	text-align: center;
	padding-left: 0;
	background-color: #f1f6f3;
	border: 1px solid #ccc;
	cursor: pointer;
}
.header-nav  li {
	display: flex;
	justify-content: center;
	width:100%;
	font-size: 1.1rem;
	height: 100%;
	align-items: center;

	border-left: 1px solid #ccc;

}
.header-nav a {
	color: #444444;
	list-style-type: none;
}
.header-nav li:hover {
	background: #cfe0d8;
}
.header-nav .active{
	background-color: #2D473A;
}
.header-nav .active a {
	color: white;
}
.header-nav .active:hover{
	background-color: #2D473A;
}
.header-nav .active a:hover{
	color: white;
}


